@import './../../styles/variables.scss';

.button {
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: $borderRadius;
    padding: $spacing-sm $spacing-lg;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: $letterSpacing;
    font-size: 1.1rem;
    background: $light;
    color: $dark;
    border: 1px solid $dark;
    transition: all 0.3s ease;

    &:hover {
        background: #c9d6de
    }

    &.outline {
        border: 1px solid $light;
        background: transparent;
        color: $light;

        &:hover {
            background: rgba($light, 0.2);
        }
    }
}

.button__alt {
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: $borderRadius;
    padding: $spacing-sm $spacing-lg;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: $letterSpacing;
    font-size: 1.1rem;
    background-color: #07384D;
    /* Button background color */
    color: #FFFFFF;
    /* Button text color */
    border: 1px solid #CCCCCC;
    transition: all 0.3s ease;

    &:hover {
        background-color: #0B4E6E;
    }

    &.outline {
        border: 1px solid #CCCCCC;
        background: transparent;
        color: $dark;

        &:hover {
            background: rgba($dark, 0.2);
        }
    }
}