:root {
    --primary: #fff;
}

.btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
}

.btn--navbar {
    background-color: #303655;
    color: #ffffff;
}

.btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}


.btn--secondary {
    background-color: #47add8;
    color: #fff;
}

.btn--secondary--outline {
    background-color: transparent;
    color: #f697cd;
    padding: 8px 20px;
    border: 1px solid #47add8;
    transition: all 0.3s ease-out;
}

.btn--small {
    padding: 4px 10px;
    font-size: 16px;
}
.btn--medium {
    padding: 8px 20px;
    font-size: 20px;
}

.btn--large {
    padding: 1.5vh 2vw;
    font-size: 20px;
}

.btn--medium:hover,
.btn--large:hover {
    background: #fff;
    color: #242424;
    transition: all 0.3s ease-out;
}

.btn--secondary--outline:hover {
    background-color: #47add8;
    color: #fff;
    transition: all 0.3s ease-out;
}

.btn--navbar:hover {
    background-color: #b4c5e4;
    color: #fff;
    transition: all 0.3s ease-out;
}