@import "./../../styles/variables.scss";

.logo {
  width: 150px; /* Set the desired width */
  height: 90px; /* Set the desired height */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;

  img {
    max-width: 100%;
    max-height: 100%; /* Ensure the image fits within the parent's height */
    width: auto; /* Maintain aspect ratio */
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 768px) {
  .logo {
    margin-left: 10px;

    img {
      max-width: 80%;
      margin-bottom: 0.45rem;
    }
  }
}
