@import "./../../styles/variables.scss";

*,
*::before,
*::after {
    box-sizing: border-box;
}


.form {
    display: flex;
    flex-direction: column;
    height: 470px;
    width: 100%;

    @media screen and (max-width: 480px) {
        height: 475px;
    }

    &__amount {
        display: flex;
        justify-content: center;
        gap: 10px;

        &__button {
            width: 33%;
            height: 100%;
            background-color: rgba(26, 68, 139, 0.3);
            margin-bottom: 0px;
            text-align: center;
            color: white;
            padding: 15px 0px;
            border-radius: 4px;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            cursor: pointer;
            display: flex;
            /* Use flexbox */
            align-items: center;
            /* Vertically center the content */
            justify-content: center;

            -webkit-transition: 400ms background-color;
            -moz-transition: 800ms opacity, 800ms right;
            -ms-transition: 800ms opacity, 800ms right;
            -o-transition: 800ms opacity, 800ms right;
            transition: 200ms background-color;

            .input-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
            }

            .input-field {
                border: none;
                background-color: transparent;
                color: inherit;
                font-size: inherit;
                width: 68%;
                outline: none;
                text-align: center;
                margin: 0;
                padding: 0;
            }

            &.__selected {
                background-color: #393939;
            }
        }


        &__button:hover {
            background-color: #393939;
        }

        &__setAmount {
            max-width: 55px;
        }
    }

    &__donateButton {
        margin: 0.3rem 0 0;
        background-color: rgba($dark, 0.9);
        width: 100%;
        color: white;
        text-align: center;
        padding: 12px 16px;
        font-size: 18px;
        cursor: pointer;
        font-weight: 800;
        align-self: center;
        transition: opacity 0.3s ease;

        &.active {
            opacity: 1;
            cursor: pointer;
        }

        &.disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }

    &__donateButton:hover {
        filter: contrast(115%);
    }
}


#details {
    text-align: center;

    form {
        margin: 0 auto;
        width: 100%;
    }

    .input-group-1 {
        width: 100%;
        margin-bottom: 0em;
    }

    .input-group-2 {
        width: 48.33114%;
        margin-right: 1.33772%;
        margin-bottom: 1.2em;
        float: left;

        &:nth-child(2n) {
            float: right;
            margin-right: 0;
        }
    }

    .input-group-3 {
        width: 37.952%;
        margin-right: 3.33772%;
        margin-bottom: 1.2em;
        float: left;

        &:nth-child(6n) {
            width: 17%;
        }

        &:nth-child(7n) {
            float: right;
            margin-right: 0;
        }
    }

    .contact-info {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    label {
        text-align: left;
        display: block;
        color: black;
        font-weight: 300;
        font-size: 0.8em;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        margin: 1.6em 0 0.3em 0.2em;

        .required-notation {
            font-size: 15px;
            font-weight: 900;
            margin-left: 3px;
            /* Add spacing between the label and the required notation */
            color: #FF7F7F;
            /* Customize the color of the required notation */
        }
    }

    input {
        text-align: left;
        font-family: 'Lato';
        background-color: rgba(26, 68, 139, 0.3);
        font-weight: 300;
        border: 0px solid rgba(132, 178, 255, 0.67);
        color: white;
        font-size: 1.3em;
        box-sizing: border-box;
        padding-left: 0.75em;
        height: 2.2em;
        width: 100%;
        border-radius: 3px;
        outline: none;
    }


    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }

    .clearfix:after {
        clear: both;
    }
}