.services__modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  opacity: 0;
  width: 100vw;
  animation: show 0.5s ease;
  overflow-x: hidden;
  overflow-y: auto;
}

@keyframes show {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: flex;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.active-modal {
  opacity: 1;
  visibility: visible;
}

.services__modal-content {
  width: 50vh;
  background: #f7fafe;
  box-shadow: 0, 0, 0.625rem, rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 4.5rem 0 2.5rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  height: auto;

  .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    gap: 10px;

    .caption {
      text-align: center;
      width: 30vh;
    }

    .close-button {
      position: absolute;
      top: 0%;
      left: 85%;
      transform: translateY(-50%);
      color: black
    }

    .close-button:hover {
      color: #303655;
      cursor: pointer;
    }
  }

  .continue-container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: flex-end;

    i {
      font-size: 25px;
      margin-right: 50px;
      color: #303655;
    }

    i:hover {
      color: black;
      cursor: pointer;
    }
  }

}

.services__modal-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
}

.services__modal-title,
.services__modal-description {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .services__modal-content {
    width: 35vh;
  }
}

@media screen and (max-width: 992px) {
  .services__content {
    padding: 6.5rem 0.5rem 1.25rem 1.5rem;
  }
}